<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<package name="com.sn.smart.order.entity" />
	</typeAliases>

	<plugins>
		<plugin interceptor="com.sn.smart.core.paginator.PageInterceptor">
			<property name="dialectClass"
				value="com.sn.smart.core.paginator.dialect.MySQLDialect" />
		</plugin>
	</plugins>
</configuration>